USE [production]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[CODIGO_CLIENTE] [nvarchar](255) NULL,
	[NOMBRE_CLIENTE] [nvarchar](255) NULL,
	[TIPO_PERSONA] [nvarchar](255) NULL,
	[GENERO] [nvarchar](255) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[LOCALIDAD] [nvarchar](255) NULL,
	[FECHA_ALTA_CLIENTE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_CLIENTES]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_CLIENTES] AS

SELECT C.*, 
CASE WHEN C.GENERO = 'F' THEN 'FEMENINO'
	WHEN C.GENERO = 'M' THEN 'MASCULINO'
	WHEN C.GENERO = 'J' THEN 'JURIDICO' END AS DESC_GENERO,
YEAR(GETDATE()) - YEAR(C.FECHA_NACIMIENTO) AS EDAD

FROM [dbo].[clientes] AS C
GO
/****** Object:  Table [dbo].[moneda]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moneda](
	[COD_MONEDA] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
	[COTIZACION] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[OPERACION] [nvarchar](255) NULL,
	[CODIGO_CLIENTE] [nvarchar](255) NULL,
	[MONEDA] [nvarchar](255) NULL,
	[TIPO_CARTERA] [nvarchar](255) NULL,
	[SALDO_CAPITAL] [float] NULL,
	[SALDO_INTERES] [float] NULL,
	[FECHA_PROCESO] [datetime] NULL,
	[FECHA_VENCIMIENTO] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_SALDOS_PRODUCTOS]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SALDOS_PRODUCTOS] AS
SELECT P.*,
(P.SALDO_CAPITAL + P.SALDO_INTERES) AS SALDO_TOTAL,
M.COTIZACION,
M.DESCRIPCION AS DESC_MONEDA
FROM PRODUCTOS AS P
LEFT JOIN MONEDA AS M ON P.MONEDA = M.COD_MONEDA
GO
/****** Object:  Table [dbo].[genero]    Script Date: 06/07/2023 21:25:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[COD_GENERO] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[clientes] ([CODIGO_CLIENTE], [NOMBRE_CLIENTE], [TIPO_PERSONA], [GENERO], [FECHA_NACIMIENTO], [LOCALIDAD], [FECHA_ALTA_CLIENTE]) VALUES (N'203996', N'MEDICAL SUP. SA', N'JURIDICA', N'J', CAST(N'2016-02-19T00:00:00.000' AS DateTime), N'PARAGUAY       ', CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[clientes] ([CODIGO_CLIENTE], [NOMBRE_CLIENTE], [TIPO_PERSONA], [GENERO], [FECHA_NACIMIENTO], [LOCALIDAD], [FECHA_ALTA_CLIENTE]) VALUES (N'204021', N'KADY CENTRO AUTOMOTIVO S.A', N'JURIDICA', N'J', CAST(N'2021-02-09T00:00:00.000' AS DateTime), N'PARAGUAY       ', CAST(N'2022-02-09T00:00:00.000' AS DateTime))
INSERT [dbo].[clientes] ([CODIGO_CLIENTE], [NOMBRE_CLIENTE], [TIPO_PERSONA], [GENERO], [FECHA_NACIMIENTO], [LOCALIDAD], [FECHA_ALTA_CLIENTE]) VALUES (N'204026', N'MULTIMEDIA S.A', N'JURIDICA', N'J', CAST(N'2021-02-09T00:00:00.000' AS DateTime), N'PARAGUAY       ', CAST(N'2022-02-09T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[genero] ([COD_GENERO], [DESCRIPCION]) VALUES (N'M', N'MASCULINO')
INSERT [dbo].[genero] ([COD_GENERO], [DESCRIPCION]) VALUES (N'F', N'FEMENINO')
INSERT [dbo].[genero] ([COD_GENERO], [DESCRIPCION]) VALUES (N'J', N'JURIDICO')
GO
INSERT [dbo].[moneda] ([COD_MONEDA], [DESCRIPCION], [COTIZACION]) VALUES (N'PYG', N'GUARANIES', 1)
INSERT [dbo].[moneda] ([COD_MONEDA], [DESCRIPCION], [COTIZACION]) VALUES (N'USD', N'DOLARES', 6980)
GO
INSERT [dbo].[productos] ([OPERACION], [CODIGO_CLIENTE], [MONEDA], [TIPO_CARTERA], [SALDO_CAPITAL], [SALDO_INTERES], [FECHA_PROCESO], [FECHA_VENCIMIENTO]) VALUES (N'0000000F10976921', N'205414', N'PYG', N'CARTERA ACTIVA', 531587, 8733, CAST(N'2022-08-29T00:00:00.000' AS DateTime), CAST(N'2022-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[productos] ([OPERACION], [CODIGO_CLIENTE], [MONEDA], [TIPO_CARTERA], [SALDO_CAPITAL], [SALDO_INTERES], [FECHA_PROCESO], [FECHA_VENCIMIENTO]) VALUES (N'0000000A10034821', N'204156', N'PYG', N'CARTERA PASIVA', 0, 0, CAST(N'2022-08-11T00:00:00.000' AS DateTime), CAST(N'2022-09-26T00:00:00.000' AS DateTime))
INSERT [dbo].[productos] ([OPERACION], [CODIGO_CLIENTE], [MONEDA], [TIPO_CARTERA], [SALDO_CAPITAL], [SALDO_INTERES], [FECHA_PROCESO], [FECHA_VENCIMIENTO]) VALUES (N'0000000F10985321', N'205410', N'PYG', N'CARTERA ACTIVA', 928544, 55456, CAST(N'2022-09-23T00:00:00.000' AS DateTime), CAST(N'2022-08-15T00:00:00.000' AS DateTime))
GO
